body {
    background-color: mediumseagreen;
    font-family: 'Abel', 'Trebuchet MS';
    margin-left: 25vw;
    margin-right: 25vw;
}

h1 {
    text-align: center;
    font-family: 'Comfortaa', 'Trebuchet MS';
    color: white;
}

h3 {
    text-align: center;
    color: white;
    height: 70px;
    display: flex;
    justify-content: baseline;
}

div.playerPrintout {
    padding-left: 20vw;
    padding-top: 5px;
}

ul#playerTable{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.errorList {
    color: pink;
    font-size: small;
}

li.listOfPlayers {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
    padding: 5px;
    transition: 0.5s;
    justify-content: space-between;
    width: 430px;
    height: 100px;
}

.cardTextHolder {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 2;
}

.cardTitleBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 2;
}

.cardButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.iconButton {
    padding: 5px;
}

.cardStats {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.cardWLRatio {
    width: 180px;
    justify-content: end;
}

.cardWAndL {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageHolder {
    width: 100px;
    height: 100px;
    margin-right: 5px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.playerImages {
    flex-shrink: 0 ;
    max-width: 200%;
    min-height: 100%;
    max-height: 150%;
    border-radius: 50px;
}

main {
    position: fixed;
    right: 55vw;
    margin-right: 10px;
    overflow-wrap: normal;
}

.myForms {
    border-radius: 5px;
    border: 2px;
    background-color: white;
    color: black;
    padding: 5px;
}

#editForm {
    display: none;
    background-color: lightgray;
}

#nullErrorPrint {
    display: none;
}

.iconButton:hover {
    border-radius: 3px;
    background-color: lightgray;
    opacity: 75%;
    transition: 0.5s;
}

div.sortField {
    text-align: center;
    border-radius: 5px;
    border: 2px;
    background-color: white;
    color: black;
    padding: 5px;
    margin-top: 10px;
}

div#addPicturePreviewHolder {
    display: none;
}

div#editPicturePreviewHolder {
    display: none;
}